@model IEnumerable<PRN231_FE.Models.EvaluationDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Student Evaluations";
}

<h1>Student Evaluations</h1>

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>SubjectID</th>
               
                <th>Grade </th>
                <th>AdditionalExplanation</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evaluation in Model)
            {
                <tr>
                    <td>@evaluation.SubjectId</td>
                  
                    <td>@evaluation.Grade</td>
                    <td>@evaluation.AdditionExplanation</td>
                    <td>
                        <a asp-action="EditEvaluation"
                           asp-route-evaluationId="@evaluation.EvaluationId"
                           asp-route-studentId="@evaluation.StudentId"
                           asp-route-subjectId="@evaluation.SubjectId"
                           asp-route-gradeTypeId="@evaluation.GradeTypeId">
                           <button class="btn btn-primary">Edit </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No evaluations found for this student.</p>
}
@* asp-route-studentName="@evaluation.StudentName" *@
@*  asp-route-subjectName="@evaluation.SubjectName" *@

@*   asp-route-gradeTypeName="@evaluation.GradeTypeName" *@
@*    <td>@evaluation.SubjectName</td>
            <td>@evaluation.GradeTypeName</td> *@