@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <img src=@ViewData["image"] alt="no image" style="width:128px;height:128px;">
    <form asp-action="Update" method="post">
        <div class="form-group">
            <input type="text" id='name' name="name" value="@ViewData["name"]" placeholder="name" class="form-control">
        </div></br>
        <div class="form-group">
            <input type="text" id='age' name="age" value="@ViewData["age"]" placeholder="age" class="form-control">
        </div></br>
        <div class="form-group">
            <input type="text" id='address' name="address" value="@ViewData["address"]" placeholder="address" class="form-control">
        </div></br>
        <div class="form-group">
            <input type="text" id='additionalInfo' name="additionalInfo" value="@ViewData["additionalInfo"]" placeholder="additionalInfo" class="form-control">
        </div></br>
        <div class="form-group">
            <input type="text" id='phone' name="phone" value="@ViewData["phone"]" placeholder="phone" class="form-control">
        </div></br>
        <div class="form-group">
            <input type="text" id='image' name="image" value="@ViewData["image"]" placeholder="image" class="form-control">
        </div></br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    
</body>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>